---
import { getCollection } from "astro:content";
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import { SITE_TITLE, DATETIME_LOCALE } from "../config";
import { formatDate } from "../lib/formatter";

const posts = await getCollection("blog");

/*

const sortedPosts = posts
  .filter((p) => p.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  );
  const formattedDate = new Date(
            post.frontmatter.date
          ).toLocaleDateString(DATETIME_LOCALE, {
            year: "numeric",
            month: "short",
            day: "numeric",
          });
  */
---

<PageLayout>
  <PageMeta title={`Blog | ${SITE_TITLE}`} slot="meta" />
  <section slot="main">
    <ul>
      {
        posts.map((post) => {
          const formattedDate = formatDate(post.data.date);
          
          return (
            <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
              <div class="title">
                <a
                  href={`/blog/${post.slug}`}
                  class="unset hover:text-text-link"
                >
                  {post.data.title}
                </a>
              </div>
              <div class="text-text-muted text-sm italic">
                <time datetime={post.data.date.toISOString()}>
                  {formattedDate}
                </time>
              </div>
            </li>
          );
        })
      }
    </ul>
  </section>
</PageLayout>
